

{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for video in video_list %}

        <div class="col">
        <a href="{% url 'videos_detail' video.id %}">

            <div class="card" style="width: 20rem; height: 13rem; border: none;">

                {% load static %}
                <img src= {% static video.thumbnail|cut:'main_app/static/' %} class="card-img-top" alt="..." style="max-height: 100%; border-radius: 0.5rem;">

            </div>
            <span class="card-title"> {{video.title}} </span>

        </a>
        </div>
        {% endfor %}
    </div>

</div>




{% endblock %}