{% extends 'base.html' %}

{% block content %}
{% load static %}

<div>
    {% comment %} if user is logged in, can sub/unsub {% endcomment %}
    {% if user.is_authenticated %}
      {% csrf_token %}
      <button id="subscribe_button" class="{% if is_subscribed %}btn btn-danger{% else %}btn btn-primary{% endif %}" onclick="toggleSubscribe();">
        {% if is_subscribed %}Unsubscribe{% else %}Subscribe{% endif %}
      </button>
    {% else %}
      <p>Please <a href="{% url 'login' %}">log in</a> to subscribe or unsubscribe.</p>
    {% endif %}
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-4">
            <video autoplay="autoplay" controls="controls" preload="preload" style="height: 33rem; width: 50rem; background-color: black; margin-top: 3rem;">
                <source src={% static video.video|cut:'main_app/static/' %} type="video/mp4">
            </video>
            <h1>{{ video.title }}</h1>
            <div class="card-action">
                <a href="{% url 'videos_update' video.id %}">EDIT</a>
                <a href="{% url 'videos_delete' video.id %}">DELETE</a>
            </div>
        </div>
    </div>
</div>

<div>
{% if user.is_authenticated %}
  <h3>Add a comment</h3>
  <form method="post" action="{% url 'comment_create' video.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  <p>Please <a href="{% url 'login' %}">log in</a> to add a comment.</p>
{% endif %}
</div>
<div>
    <ul>
        {%for c in comments%}
          
            <li>{{c.content}}</li>
         
        {% endfor %}
         </ul>
</div>


<div class="like-dislike">
    <!-- Adding like/dislike functionality-->
    <button class="btn btn-success">Like</button>
    <button class="btn btn-danger">Dislike</button>
</div>


{% endblock %}
