{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="container-fluid">
    
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for video in video_list %}
    
            <div class="col">
            <a href="{% url 'videos_detail' video.id %}">
    
    
                <div style="width: 20rem; height: 11rem; border: none;">
    
                    {% load static %}
                    <img src= {% static video.thumbnail|cut:'main_app/static/' %} class="card-img-top" alt="..." style="max-height: 100%; border-radius: 0.5rem;">
    
                </div>
                
                <div class="container">
                    <div class="row" style="position: relative; bottom: 1.7rem; right: 0.75rem;">
                        <div class="col">
                            <img style="border-radius: 50%; width: 3rem; height: 3rem; position: relative; left: 1.5rem;"  src={% static video.channel.profilephoto|cut:'main_app/static/' %} alt="profile pic" /> 
                        </div>
                        <div class="col">
                            <h4 style="margin-top: 0.5rem;">{{video.title}} </h4>
                            <a href="/channels/{{ video.channel.id }}" style="margin-top: -1rem;"> {{ video.channel }} </a>
                        </div>
                    </div>
                </div>
    
    
            </div>
            {% endfor %}
        </div>
    
        <div class="d-flex justify-content-center my-4">
        {% if video_list.has_other_pages %}
            <ul class="pagination">
                {% if video_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ video_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in video_list.paginator.page_range %}
                    {% if video_list.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if video_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ video_list.next_page_number }}">&raquo;</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ video_list.paginator.num_pages }}">Last</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    </div>
</div>


{% endblock %}
