
{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for video in videos %}

        <div class="col">
        <a href="{% url 'videos_detail' video.id %}">


            <div style="width: 20rem; height: 11rem; border: none;">

                {% load static %}
                <img src= {% static video.thumbnail|cut:'main_app/static/' %} class="card-img-top" alt="..." style="max-height: 100%; border-radius: 0.5rem;">

            </div>
            
            <div class="container">
                <div class="row" style="position: relative; bottom: 1.7rem; right: 0.75rem;">
                    <div class="col">
                        <img style="border-radius: 50%; width: 3rem; height: 3rem; position: relative; left: 1.5rem;"  src={% static video.channel.profilephoto|cut:'main_app/static/' %} alt="profile pic" /> 
                    </div>
                    <div class="col">
                        <h4 style="margin-top: 0.5rem;">{{video.title}} </h4>
                        <a href="/channels/{{ video.channel.id }}" style="margin-top: -1rem;"> {{ video.channel }} </a>
                    </div>
                </div>
            </div>


        </div>
        {% endfor %}
    </div>

</div>
<div>
    {% comment %} pagination {% endcomment %}
    
    <h3>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h3>
    <div class="row">
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

<span class="current-page">{{ page_obj.number }}</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
{% endif %}
</div>



{% endblock %}
