{% extends 'base.html' %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-4" style="border: solid black;">
                {% load static %}
                <img class="" width="100px" height="100px" src="{% static channel.profilephoto|cut:'main_app/static/' %}" alt="profile pic" /> 
            <div class="">
                <h4 class="name">{{ channel.name }}</h4>
                <p class="about">{{ channel.about }}</p>
            </div>

<div>
    <div class='nav-holder'>
        <nav class="">
            <ul class="">
                <li class=""><a class=""  href="{% url 'videos_create' %}">Add Video</li>
                <li class=""><a class="" href="{% url 'channels_update' channel.id%}">Edit Channel</li>
                <li class=""><a class="" href="{% url 'channels_delete' channel.id%}">Delete Channel</li>
            </ul>
        </nav>
    </div>

    <div class="channel-detail">
 
    </div>
<div>
    {% if user.is_authenticated %}
    {% if is_subscribed %}
      <form method="post" action="{% url 'unsubscribe' channel.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Unsubscribe</button>
      </form>
    {% else %}
      <form method="post" action="{% url 'subscribe' channel.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    {% endif %}
  {% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to subscribe or unsubscribe.</p>
  {% endif %}




</div>
    <a class="video-detail-link" href="videos_detail" >

    </a>

</div>
        </div>

        <div class="col-8" style="border: solid black; ">

            
            {% for video in channel.video_set.all %}
            {% load static %}
            
            <div style="width: 20rem; height: 11rem; border: none;">
                <img src= {% static video.thumbnail|cut:'main_app/static/' %} class="card-img-top" alt="..." style="max-height: 100%; border-radius: 0.5rem;">
            </div>            
            <p class="">{{ video.title }}</p>
                 <!-- <p class="">{{ video.uploaded_at }}</p> -->
            {% endfor %}
        </div>
    </div>
</div>


{% endblock  %}