

{% extends 'base.html' %}

{% block content %}

<h3>VIDEO LIST</h3>

{% for channel in channels %}

    <a href="{% url 'detail' channel.id %}">


        <div class="card" style="width: 20rem;">

            {% load static %}
            <img class="" width="100px" height="100px" src={% static channel.profilephoto|cut:'main_app/static/' alt="profile pic"%} /> 

            <div class="card-body">
                <span class="card-title"> {{channel.name}} </span>
            </div>
        </div>
    </a>

{% endfor %}


{% endblock %}